doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/semantic.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/stylesheets/datepicker.min.css")

    //- Arquivos CSS de cada página
    block css

    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src="/javascripts/semantic.min.js")
    script(src="/javascripts/datepicker.min.js")
    script(src="/javascripts/datepicker.pt-BR.js")
    
    //- Arquivos JavaScripts de cada página
    block script

  body
    block content
